Source: openfst
Version: 1.7.2
Homepage: https://github.com/kkm000/openfst
Description: OpenFst is a library for constructing, combining, optimizing, and searching weighted finite-state transducers (FSTs).
